html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
}
header {
  margin-top: 20%;
  margin-bottom: 10%;
}
header h1 {
  font-size: 3em;
}
header h2 {
  font-size: 1.7em;
  color: #666;
}
header h1,
header h2 {
  text-transform: lowercase;
  margin: 0;
  font-weight: 400;
}
a {
  color: #333;
  text-decoration: none;
}
footer .social {
  font-size: 2em;
}
